#G{
   background-color:rgba(255, 0, 0, 0.685);
    width: 90px;
   height: 20px;
   font-weight: bold;
}
#A{
   background-color:rgba(255, 140, 0, 0.803);
    width: 5.7em;
   height: 1.2em;
   font-weight: bold;
}
#S{
   background-color:rgba(200, 255, 0, 0.752);
    width: 6rem;
   height: 1.2rem;
   font-weight: bold;
}
#B{
   background-color:rgba(13, 255, 0, 0.695);
    width: 6%;
   height: 20%;
   font-weight: bold;
}
#M{
   background-color:rgb(0, 255, 217);
   width: 5.8em;
   height: 1.2em;
   font-weight: bold;
}
#D{
   background-color:rgba(0, 229, 255, 0.833);
    width: 6.5rem;
   height: 1.2rem;
   font-weight: bold;
}
#Q{
   background-color:rgba(0, 34, 255, 0.693);
    width: 6%;
   height: 20%;
   font-weight: bold;
}