.button:hover{
   background-color: #0004ff;
}
.button:active{
   background-color: #ff0000;
}
.input:focus{
   border-color: #00ff11;
   outline: none;
}
.list-item:nth-child(odd){
   background-color: #eeff00;
}

.list-item:nth-child(even){
   background-color: #f5059d;
}
.a:hover{
   color: #009dff;
}
.a:active{
   color: #79f300;
}
.p:nth-child(odd){
   background-color: #00f410;
   color: #fff200;
}
.p:nth-child(even){
   background-color: #240cff;
   color: #ff0000;
}
.Prop:first-child:hover{
    background-color: aqua;
}
.Prop:last-child:focus{
    border-color: #ff0000;
}
