.rrrrrrr{
   color:rgb(53, 226, 37);
   text-align: center;
}
.dhfdhj{
  font-size: 24px;
  font-weight: bold
}
.jfdjfj{
    font-weight: bold;
    color:yellow;
    font-size:18px;
}
.зйыдлово{
    font-weight: bold;
    font-size: 24px;
}

.shjdfhfhdj{
    font-weight: bold;
    font-size: 24px;   
}
.зйыxjxj{
    font-weight: bold;
    font-size: 24px; 
}
.shdhsjxj{
    font-weight: bold;
    font-size: 24px;

}
#dfjjdfj{
    background-color:darkgray;
    float:right;
    width: 300px;
   height: 300px;
   border: 3px solid black;
    text-align: center;
}
#tyreiiwie{
    background-color:darkgray;
    border: 3px solid black;
    width: 1500px;
   height: 700px;
   padding: 1px;
   margin: 1px;
   overflow: scroll;
   overflow: hidden;
}
body {
   background-color: rgb(101, 117, 85);
}
.eeeeee{
    color: #000;
    text-align: center;
}